body {
  background: #e8edee;
}

header {
  background: #f18b23;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px;
}

main {
  background: #2483d5;
  margin: 50px auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: #e8edee;
  border: 2px solid #e8edee;
  padding: 5px;
  position: relative;
  left: 250px;
  margin: 5px;
}

a:hover {
  color: #2483d5;
  background: #e8edee;
}
