<% if current_maker %>
  <h1>Pa-ching! Welcome to Chitter <%= current_maker.username %>!</h1>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>
  <%= partial :list_of_peeps %>
  <div id="new_peep">
    <form action="/peeps" method="post">
      Peep: <input type="text" name="body">
      <input type="submit" value="Peep it!">
    </form>
  </div>
<% else %>
  <h1>Pa-ching! Welcome to Chitter! Please <a href="/makers/new">sign up</a> to able to post.</h1>
  <%= partial :list_of_peeps %>
<% end %>
