<% if current_maker %>
<header>
  <h1>Pa-ching! Welcome to Chitter <%= current_maker.username %>!</h1>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>
</header>
<main>
  <%= partial :list_of_peeps %>
  <div id="new_peep">
    <form action="/peeps" method="post">
      Peep: <input type="text" name="body">
      <input type="submit" value="Peep it!">
    </form>
  </div>
<% else %>
</main>
<header>
  <h1>Pa-ching! Welcome to Chitter!</h1>
  <a href="/makers/new">Sign up</a>
  <a href="/sessions/new">Sign in</a>
</header>
<main>
  <%= partial :list_of_peeps %>
</main>
<% end %>
