<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/application.css">
  <title>Chitter</title>
</head>
<body>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>

