<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chitter</title>
</head>
<body>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
  <div id="new_peep">
    <form action="/peeps" method="post">
      Peep: <input type="text" name="body">
      <input type="submit" value="Peep it!">
    </form>
  </div>
</body>
</html>

