<ul>
  <% @peeps.each do |peep| %>
    <section>
      Created: <%= peep.created_at %>
      <li><%= peep.body %></li>
      <% if peep.maker.nil? %>
        <li><%= peep.maker_id %></li>
      <% else %>
        <li><%= peep.maker.username %></li>
      <% end %>
    </section>
  <% end %>
</ul>
